name: test

on:
  push:
    branches:
      - master
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
  schedule:
    - cron: "0 19 * * 5" # JST 4:00 (Sat)

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false

      matrix:
        ruby:
          - "2.3"
          - "2.4"
          - "2.5"
          - "2.6"
          - "2.7"
          - "3.0"
          - "3.1"
          - "3.2"
          - "3.3"
          - "3.4"
          - "4.0"
        gemfile:
          - rails_4_0
          - rails_4_1
          - rails_4_2
          - rails_5_0
          - rails_5_1
          - rails_5_2
          - rails_6_0

        include:
          # Rails 4.x requires bundler 1.x
          - gemfile: rails_4_0
            bundler: 1
          - gemfile: rails_4_1
            bundler: 1
          - gemfile: rails_4_2
            bundler: 1

        exclude:
          # Rails 6.0 requires Ruby 2.5+
          - ruby:    "2.3"
            gemfile: rails_6_0
          - ruby:    "2.4"
            gemfile: rails_6_0

          # Ruby 2.7.0 contains bundler 2.1.2, but Rails 4.x locks with bundler 1.x
          - ruby:    "2.7"
            gemfile: rails_4_0
          - ruby:    "2.7"
            gemfile: rails_4_1
          - ruby:    "2.7"
            gemfile: rails_4_2

          # Rails 4.x and 5.x doesn't work on Ruby 3.0+
          - ruby:    "3.0"
            gemfile: rails_4_0
          - ruby:    "3.0"
            gemfile: rails_4_1
          - ruby:    "3.0"
            gemfile: rails_4_2
          - ruby:    "3.0"
            gemfile: rails_5_0
          - ruby:    "3.0"
            gemfile: rails_5_1
          - ruby:    "3.0"
            gemfile: rails_5_2
          - ruby:    "3.1"
            gemfile: rails_4_0
          - ruby:    "3.1"
            gemfile: rails_4_1
          - ruby:    "3.1"
            gemfile: rails_4_2
          - ruby:    "3.1"
            gemfile: rails_5_0
          - ruby:    "3.1"
            gemfile: rails_5_1
          - ruby:    "3.1"
            gemfile: rails_5_2
          - ruby:    "3.2"
            gemfile: rails_4_0
          - ruby:    "3.2"
            gemfile: rails_4_1
          - ruby:    "3.2"
            gemfile: rails_4_2
          - ruby:    "3.2"
            gemfile: rails_5_0
          - ruby:    "3.2"
            gemfile: rails_5_1
          - ruby:    "3.2"
            gemfile: rails_5_2
          - ruby:    "3.3"
            gemfile: rails_4_0
          - ruby:    "3.3"
            gemfile: rails_4_1
          - ruby:    "3.3"
            gemfile: rails_4_2
          - ruby:    "3.3"
            gemfile: rails_5_0
          - ruby:    "3.3"
            gemfile: rails_5_1
          - ruby:    "3.3"
            gemfile: rails_5_2
          - ruby:    "3.4"
            gemfile: rails_4_0
          - ruby:    "3.4"
            gemfile: rails_4_1
          - ruby:    "3.4"
            gemfile: rails_4_2
          - ruby:    "3.4"
            gemfile: rails_5_0
          - ruby:    "3.4"
            gemfile: rails_5_1
          - ruby:    "3.4"
            gemfile: rails_5_2

    env:
      BUNDLE_GEMFILE: gemfiles/${{ matrix.gemfile }}.gemfile

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - run: sudo apt-get update
      - run: sudo apt-get install -y libsqlite3-dev

      - uses: ruby/setup-ruby@ae195bbe749a7cef685ac729197124a48305c1cb # v1.276.0
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
          bundler: ${{ matrix.bundler || 'default' }}
          cache-version: ${{ matrix.gemfile }}

      - run: bundle update --jobs $(nproc) --retry 3

      - name: Setup Code Climate Test Reporter
        uses: aktions/codeclimate-test-reporter@7634aa9ac7883182f583f15ff7b6ff519939dd0a # v1.2.0
        with:
          codeclimate-test-reporter-id: ${{ secrets.CC_TEST_REPORTER_ID }}
          command: before-build
        continue-on-error: true

      - run: bundle exec rspec

      - name: Teardown Code Climate Test Reporter
        uses: aktions/codeclimate-test-reporter@7634aa9ac7883182f583f15ff7b6ff519939dd0a # v1.2.0
        with:
          codeclimate-test-reporter-id: ${{ secrets.CC_TEST_REPORTER_ID }}
          command: after-build
        if: always()
        continue-on-error: true

      - name: Slack Notification (not success)
        uses: act10ns/slack@cfcc30955fe9377f4f55e1079e5419ee1014269f # v2
        if: "! success()"
        continue-on-error: true
        with:
          status: ${{ job.status }}
          webhook-url: ${{ secrets.SLACK_WEBHOOK }}
          matrix: ${{ toJson(matrix) }}

  yard:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - run: sudo apt-get update
      - run: sudo apt-get install -y libsqlite3-dev

      - uses: ruby/setup-ruby@ae195bbe749a7cef685ac729197124a48305c1cb # v1.276.0
        with:
          ruby-version: ruby
          bundler-cache: true

      - run: bundle update --jobs $(nproc) --retry 3

      - name: yard generating test
        run: |
          set -xe
          bundle exec yard
          ls -ld doc/

      - name: Slack Notification (not success)
        uses: act10ns/slack@cfcc30955fe9377f4f55e1079e5419ee1014269f # v2
        if: "! success()"
        continue-on-error: true
        with:
          status: ${{ job.status }}
          webhook-url: ${{ secrets.SLACK_WEBHOOK }}

  all-pass:
    if: always()

    needs:
      - test
      - yard

    runs-on: ubuntu-slim

    steps:
      - name: check dependent jobs
        uses: re-actors/alls-green@05ac9388f0aebcb5727afa17fcccfecd6f8ec5fe # v1.2.2
        with:
          jobs: ${{ toJSON(needs) }}
